body{
	background-image: url(../img/fond1.jpg);
	width: 100%;
	height: 850px;
	background-size: cover;
	background-repeat: no-repeat;
	color: #FF9FAB;
}

/* Carousel - Bootstrap */
.carousel {
    overflow: hidden;
}

/* Tamaño Carousel */
.carousel {
	width: 700px;
	height: 500px;
	margin-left: 21%;
	margin-right: 21%;
	margin-top: 5%;
}

/* FOOTER */

footer{
	margin-top: 16%;
}