body{
	background-color: gray;
	color: white;
}

/* Carousel - Bootstrap */
.carousel {
    overflow: hidden;
}

.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}
/* Colores al pasar a otra imagen */
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}

.item:nth-child(1) {
  background: darkred;
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}

/* Tamaño Carousel */
.carousel {
	width: 700px;
	height: 500px;
	margin-left: 18%;
}